@model RentAndCycleCodeFirst.Models.CompanyBike

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompanyBike</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bike.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bike.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyLocation.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyLocation.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
