@model IEnumerable<RentAndCycleCodeFirst.Models.CompanyBike>

@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bikes</h2>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<p>From: <input type="text" id="datepickerFrom"></p>
<p>To:   <input type="text" id="datepickerTo"></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bike.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyLocation.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Count > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bike.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bike.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyLocation.Company.Name)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/locales/bootstrap-datepicker.en-AU.min.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();

            // https://stackoverflow.com/a/30456709/7587466
            $("#datepickerFrom").datepicker({
                format: 'dd/mm/yyyy',
                startDate: '+1d',
                autoclose: true
            }).on('changeDate', function (selected) {
                var minDate = new Date(selected.date.valueOf() + (1000 * 60 * 60 * 24));
                $('#datepickerTo').datepicker('setStartDate', minDate);
            });

            $("#datepickerTo").datepicker({
                format: 'dd/mm/yyyy',
                startDate: '+2d',
                autoclose: true
            }).on('changeDate', function (selected) {
                var maxDate = new Date(selected.date.valueOf());
                $('#datepickerFrom').datepicker('setEndDate', maxDate);
            });
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />