@model IEnumerable<RentAndCycleCodeFirst.Models.CompanyBike>

@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bikes</h2>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bike.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyLocation.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Count > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bike.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bike.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyLocation.Company.Name)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />