@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="min-height: 400px; background-image: url('../../Content/bike.jpg'); background-size: cover; background-position: bottom right">
    <h1>Rent & Cycle</h1>
    <p class="lead">Rent & Cycle is a great platform where you can find a wide range of bicycles and where to rent them for the best price.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book &raquo;</a></p>
</div>

<div class="row">
    <h5 style="text-align:center">The following text is obtained from the default template and has been slightly changed to fit the website topic.</h5>
    <div class="col-md-4">
        <h2>Map</h2>
        <p>
            Map gives you a powerful, patterns-based way to find dynamic routes that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile leisure.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "CompanyLocations")">Search locations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Rent & Cycle is a free online booking paltform that makes it easy to add,
            remove, and update preferences and bookings in your future planning.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>You can easily find the company address to contact us or write us an email about how you find our services.</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact")">See contacts &raquo;</a></p>
    </div>
</div>

<div style="text-align:center">
    <h4>Number of bikes currently booked</h4>
</div>

<div class="row">
    <div class="col-md-offset-5 col-md-2" style="text-align:center">
        <h5>Select Date</h5>
        <div class="input-group date datepicker" data-provide="datepicker">
            <input type="text" class="form-control" style="min-width:100%">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8" style="text-align:center">     
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/Scripts/Chart.js/Chart.js")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/locales/bootstrap-datepicker.en-AU.min.js")
    <script>
        var chart;

        function draw(strDate, date) {
            $.ajax({
                type: "GET",
                url: "/Home/GetNumberOfBikes?dateString=" + strDate,
                dataType: "json",
            }).done(function (data) {
                console.log(data);

                var labelList = [];
                const today = new Date();
                for (var i = 0; i < 7; i++) {
                    labelList.push(date.getDate() + i + '/' + date.getMonth() + '/' + date.getFullYear())
                }
                console.log(labelList)

                var ctx = $('#myChart');

                if (typeof chart != 'undefined') {
                    chart.destroy();
                }

                chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labelList,
                        datasets: [{
                            label: '# of Bikes',
                            data: data,
                            backgroundColor: 'rgba(51, 122, 183, 0.2)',
                            borderColor: 'rgba(51, 122, 183, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });
        }
        const strToday = (new Date()).toLocaleDateString('en-AU');
        draw(strToday, new Date());

        // https://stackoverflow.com/a/30456709/7587466
        $(".datepicker").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        }).on('changeDate', function (selected) {
            var strDate = selected.date.toLocaleDateString('en-AU');
            draw(strDate, selected.date)
        });
    </script>
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />